PUBLIC_APP_PORT=3001

MAIN_MONGO_DB_HOST=mongodb://admin:password@localhost:27017
MAIN_MONGO_DB_NAME=mvx-tools

SNAPSHOTS_MONGO_DB_HOST=mongodb://admin:password@localhost:27020
SNAPSHOTS_MONGO_DB_NAME=mvx-tools

JWT_ACCESS_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d
JWT_ACCESS_SECRET=STRONG-KEY-HERE
JWT_REFRESH_SECRET=ANOTHER-STRONG-KEY-HERE

REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_CERTIFICATE_STRING=

MVX_ES_INDEX_HOST=